---

kafka:
  host: "{{kafka_host}}"
  port: {{kafka_port}}
  topic: "{{kafka_topic}}"
  group: "{{kafka_group}}"
influxdb:
  host: "{{influxdb_host}}"
  port: {{influxdb_port}}
  user: "{{influxdb_user}}"
  password: "{{influxdb_pass}}"
  dbname: "{{influxdb_db}}"
  use_ssl: False
  verify_ssl: False
  timeout: 5
  use_udp: False
  retention_policy: "{{influxdb_retention_policy}}"
  time_precision: "s"
encoder: "{{output_to_influxdb_encoder}}"
benchmark: false
buffer_size: 1000
statistics: true